<div class="main">
  <h2>ID: {{id}}</h2>
  <ng-container *ngIf="loading">
    <h1>読み込み中...</h1>
  </ng-container>
  <ng-container *ngIf="!loading">
    <mat-tab-group>
      <mat-tab label="情報">
        <br>
        <table>
          <tr>
            <th colspan="2">Connection Information</th>
          </tr>
          <tr>
            <th>User Create Date</th>
            <td>{{network.CreatedAt}}</td>
          </tr>
          <tr>
            <th>User Update Date</th>
            <td>{{network.UpdatedAt}}</td>
          </tr>
          <tr>
            <th>Group ID</th>
            <td>{{network.group_id}}</td>
          </tr>
          <tr>
            <th>ASN</th>
            <td>{{network.asn}}</td>
          </tr>
          <tr>
            <th>開通</th>
            <td>{{network.open}}</td>
          </tr>
          <tr>
            <th>Organization<th>
            <td>{{network.org}}</td>
          </tr>
          <tr>
            <th>Organization(English)</th>
            <td>{{network.org_en}}</td>
          </tr>
          <tr>
            <th>Postcode</th>
            <td>{{network.postcode}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{network.address}}</td>
          </tr>
          <tr>
            <th>Address(English)</th>
            <td>{{network.address_en}}</td>
          </tr>
          <tr>
            <th>PIアドレス</th>
            <td>{{network.pi}}</td>
          </tr>
          <tr>
            <th>Lock</th>
            <td>{{network.lock}}</td>
          </tr>
          <tr>
            <th>Route</th>
            <td>{{network.route}}</td>
          </tr>
          <tr>
            <th>v4_Name</th>
            <td>{{network.v4_name}}</td>
          </tr>
          <tr>
            <th>v4</th>
            <td>{{network.v4}}</td>
          </tr>
          <tr>
            <th>v6_Name</th>
            <td>{{network.v6_name}}</td>
          </tr>
          <tr>
            <th>v6</th>
            <td>{{network.v6}}</td>
          </tr>
        </table>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>回線使用時期</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{network.date}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel class="card">
            <mat-expansion-panel-header>
              <mat-panel-title>プラン</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{network.plan}}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </mat-tab>
      <mat-tab label="設定">
        <ng-template matTabContent>
          <br>
          <div class="main">
            <p>Updateしたいデータを記入することで、その部分のみが更新されます。</p>
            <form [formGroup]="networkInput">
              <mat-form-field appearance="fill">
                <mat-label>ASN</mat-label>
                <input matInput type="text" formControlName="asn">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>IPv4</mat-label>
                <input matInput type="text" formControlName="v4">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>IPv4 Name</mat-label>
                <input matInput type="text" formControlName="v4_name">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>IPv6</mat-label>
                <input matInput type="text" formControlName="v6">
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>IPv6 Name</mat-label>
                <input matInput type="text" formControlName="v6_name">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Group ID</mat-label>
                <input matInput type="number" formControlName="group_id">
              </mat-form-field>
              <br>
              <h3>各種設定</h3>
              <mat-checkbox formControlName="open">開通済み</mat-checkbox>
              &nbsp;
              <mat-checkbox formControlName="lock">ロック</mat-checkbox>
              &nbsp;
            </form>
            <br>
            <button mat-stroked-button color="primary" (click)="update()">Update</button>
            <br>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <br>
</div>
