<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-title">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field>
        <mat-label>UserName</mat-label>
        <label>
          <input matInput placeholder="user" [formControl]="user" required>
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        </label>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
  </mat-card-content>
</mat-card>

<br>
<br>
