.main {
  .h1 {
    font-size: xx-large;
  }

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

  p {
    white-space: pre-wrap;
  }

  .card {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }


}


.large-width {
  width: 80%;
}

.textarea-form {
  min-width: 400px;
  max-width: 1000px;
  width: 100%;
}
