<mat-tab-group>
  <mat-tab label="開通済み">
    <ng-container *ngFor="let d of connection">
      <ng-container *ngIf="d.open">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{d.service_id}}</mat-card-title>
            <mat-card-subtitle>ID:{{d.ID}} GID:{{d.group_id}}</mat-card-subtitle>
            <mat-card-subtitle>{{d.email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>
              <mat-chip-list>
                <ng-container *ngIf="!d.mail_verify">
                  <mat-chip color="warn" selected>メール未認証</mat-chip>
                </ng-container>
                <ng-container *ngIf="d.status === 0">
                  <mat-chip color="warn" selected>情報未入力</mat-chip>
                </ng-container>
              </mat-chip-list>
            </mat-card-subtitle>
            <p></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="detailPage(d.ID)">Detail Page</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
    <br>
  </mat-tab>
  <mat-tab label="未開通">
    <ng-container *ngFor="let d of connection">
      <ng-container *ngIf="!d.open">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{d.service_id}}</mat-card-title>
            <mat-card-subtitle>ID:{{d.ID}} GID:{{d.gid}}</mat-card-subtitle>
            <mat-card-subtitle>{{d.email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-card-subtitle>
              <mat-chip-list>
                <ng-container *ngIf="!d.mail_verify">
                  <mat-chip color="warn" selected>メール未認証</mat-chip>
                </ng-container>
                <ng-container *ngIf="d.status === 0">
                  <mat-chip color="warn" selected>情報未入力</mat-chip>
                </ng-container>
              </mat-chip-list>
            </mat-card-subtitle>
            <p></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="detailPage(d.ID)">Detail Page</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
    <br>
  </mat-tab>
</mat-tab-group>
<br>
