<mat-card-actions class="main">
  <button mat-button (click)="deleteAll()">すべてのTokenを削除</button>
</mat-card-actions>
<ng-container *ngFor="let d of token">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{d.name}}</mat-card-title>
      <mat-card-subtitle>ID:{{d.ID}} Status: {{d.status}}</mat-card-subtitle>
      <mat-card-subtitle>UserID: {{d.uid}} AdminID:{{d.admin_id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>
        <mat-chip-list>
          <ng-container *ngIf="d.admin">
            <mat-chip color="primary" selected>Admin</mat-chip>
          </ng-container>
          <ng-container *ngIf="d.access_token === '' && d.tmp_token !== ''">
            <mat-chip color="warn" selected>未認証</mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-card-subtitle>
      <div class="main">
        <table>
          <tr>
            <th colspan="2">User Information</th>
          </tr>
          <tr>
            <th>作成時間</th>
            <td>{{d.CreatedAt}}</td>
          </tr>
          <tr>
            <th>更新時間</th>
            <td>{{d.DeletedAt}}</td>
          </tr>
          <tr>
            <th>有効期限</th>
            <td>{{d.expired_at}}</td>
          </tr>
          <tr>
            <th>Tmp Token</th>
            <td>{{d.tmp_token}}</td>
          </tr>
          <tr>
            <th>User Token</th>
            <td>{{d.user_token}}</td>
          </tr>
          <tr>
            <th>Access Token</th>
            <td>{{d.access_token}}</td>
          </tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="delete(d.ID)">Delete</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<br>

