<div class="main">
  <h1>Support</h1>
  <mat-tab-group>
    <mat-tab label="チケット一覧（未解決）">
      <ng-container *ngIf="loading">
        <h2>データがありません。</h2>
      </ng-container>
      <ng-container *ngIf="!loading">
        <ng-container *ngFor="let d of support">
          <ng-container *ngIf="!d.solved">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{d.ID}}: {{d.title}}</mat-card-title>
                <mat-card-subtitle>作成者ID: {{d.user_id}} GroupID:{{d.group_id}}</mat-card-subtitle>
                <mat-card-subtitle>
                  <mat-chip-list>
                    <ng-container>
                      <mat-chip color="warn" *ngIf="!d.solved" selected>未解決</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <button mat-button color="primary" (click)="chatPage(d.ID)">Chat</button>
                <button mat-button color="primary" (click)="solvedPush(d.ID,true)">解決済み</button>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </ng-container>
      </ng-container>
      <br>
    </mat-tab>
    <mat-tab label="チケット一覧(解決済み）">
      <ng-container *ngIf="loading">
        <h2>データがありません。</h2>
      </ng-container>
      <ng-container *ngIf="!loading">
        <ng-container *ngFor="let d of support">
          <ng-container *ngIf="d.solved">
            <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{d.ID}}: {{d.title}}</mat-card-title>
                <mat-card-subtitle>作成者ID: {{d.user_id}} GroupID:{{d.group_id}}</mat-card-subtitle>
                <mat-card-subtitle>
                  <mat-chip-list>
                    <ng-container>
                      <mat-chip color="primary" *ngIf="d.solved" selected>Solved</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <button mat-button color="primary" (click)="chatPage(d.ID)">Chat</button>
                <button mat-button color="warn" (click)="solvedPush(d.ID,false)">未解決</button>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </ng-container>
      </ng-container>
      <br>
    </mat-tab>
    <mat-tab label="チケット追加">
      <br>
      <p>IPアドレスの追加割当につきましては、こちらのフォームをご利用ください。</p>
      <br>
      <form [formGroup]="supportInput">
        <h4>GroupID</h4>
        <mat-form-field appearance="fill">
          <mat-label>Group ID</mat-label>
          <input matInput type="text" formControlName="group_id">
        </mat-form-field>
        <br>
        <h4>タイトル</h4>
        <mat-form-field class="large-width">
          <mat-label>Title</mat-label>
          <label>
            <input matInput placeholder="Title" formControlName="title">
          </label>
        </mat-form-field>
        <br>
        <h4>内容</h4>
        <mat-form-field class="textarea-form">
          <textarea matInput rows="10" placeholder="Ex. It makes me feel..." formControlName="data" required></textarea>
        </mat-form-field>
        <br>
      </form>
      <br>
      <button mat-button (click)="add()">追加</button>
      <br>
    </mat-tab>
  </mat-tab-group>
</div>
