<ng-container *ngFor="let d of group">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{d.name}}</mat-card-title>
      <mat-card-subtitle>ID:{{d.ID}} Status: {{d.status}}</mat-card-subtitle>
      <mat-card-subtitle>{{d.status}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>
        <mat-chip-list>
          <ng-container *ngIf="d.status === 0">
            <mat-chip color="warn" selected>未登録</mat-chip>
          </ng-container>
          <ng-container *ngIf="d.status === 1">
            <mat-chip color="primary" selected>審査中</mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-card-subtitle>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="groupPage(d.ID)">Group Page</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<br>

