<div class="main">
    <ng-container *ngIf="loading">
        <h1>読み込み中...</h1>
    </ng-container>
    <ng-container *ngIf="!loading">
        <mat-tab-group>
            <mat-tab label="情報">
                <br>
                <table>
                    <tr>
                        <th colspan="2">Node Information</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{node.name}}</td>
                    </tr>
                    <tr>
                        <th>ZoneID</th>
                        <td>{{node.zone_id}}</td>
                    </tr>
                    <tr>
                        <th>GroupID</th>
                        <td>{{node.group_id}}</td>
                    </tr>
                    <tr>
                        <th>IP</th>
                        <td>{{node.ip}}</td>
                    </tr>
                </table>
                <br>
            </mat-tab>
            <mat-tab label="PCIデバイス一覧">
                <br>
                <table>
                    <tr>
                        <th colspan="6">PCI Device List</th>
                    </tr>
                    <ng-container *ngFor="let tmp of nodePCI">
                        <tr>
                            <th>Name</th>
                            <td>{{tmp.Name}}</td>
                            <th>Vendor</th>
                            <td>{{tmp.Capability.PCI.Vendor.Name}}</td>
                            <th>Product</th>
                            <td>{{tmp.Capability.PCI.Product.Name}}</td>
                        </tr>
                    </ng-container>
                </table>
                <br>
            </mat-tab>
            <mat-tab label="USBデバイス一覧">
                <br>
                <table>
                    <tr>
                        <th colspan="6">USB Device List</th>
                    </tr>
                    <ng-container *ngFor="let tmp of nodeUSB">
                        <tr>
                            <th>Name</th>
                            <td>{{tmp.Name}}</td>
                            <th>Vendor</th>
                            <td>{{tmp.Capability.USBDevice.Vendor.Name}}</td>
                            <th>Product</th>
                            <td>{{tmp.Capability.USBDevice.Product.Name}}</td>
                        </tr>
                    </ng-container>
                </table>
                <br>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
    <br>
</div>
