<ng-container *ngFor="let d of user">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{d.name}}</mat-card-title>
      <mat-card-subtitle>ID:{{d.ID}} GID:{{d.gid}}</mat-card-subtitle>
      <mat-card-subtitle>{{d.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>
        <mat-chip-list>
          <ng-container *ngIf="!d.mail_verify">
            <mat-chip color="warn" selected>メール未認証</mat-chip>
          </ng-container>
          <ng-container *ngIf="d.status === 0">
            <mat-chip color="warn" selected>情報未入力</mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-card-subtitle>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="userPage(d.ID)">User Page</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<br>

