<div class="main">
    <form>
        <h4>Node URL</h4>
        <mat-form-field appearance="fill">
            <mat-label>API URL</mat-label>
            <input matInput type="text" [formControl]="host">
        </mat-form-field>
        <br>
    </form>
    <br>
    <button mat-button (click)="search()">VM検索</button>
    <br>
    <br>
    <ng-container *ngFor="let vm of vms">
        <br>
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{vm.name}}</mat-card-title>
                <mat-card-subtitle>UUID:{{vm.uuid}} </mat-card-subtitle>
                <!--                <mat-card-subtitle>{{d.email}}</mat-card-subtitle>-->
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle>
                    <p>CPU: {{vm.vcpu}} Memory: {{vm.memory / 1000}} MB</p>
                </mat-card-subtitle>
                <p></p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="detailPage(vm.uuid)">Detail Page</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <br>
</div>
